.child-term {
  display: inline-block;
  padding: 5pt;
  margin-top: 5pt;
  margin-left: 11pt;
  border-radius: 10px;
  background-color: #F5F5F6;
}
.child-term a {
  text-decoration: none;
  color: #3D3D3D;
}
