{% if terms is not null and terms is not empty %}
<div class="container ">
  {% for row in terms|batch(6, 'No item') %}
    <div class="row my-2">
      {% for term in row %}
        {% if term is not empty %}
        <div class="col-md-2">
          <div class="justify-content-center d-flex border border-1 h-100">
            <a  class="align-self-center" href="{{ term.path }}">
                <img class="img-fluid p-1" src="{{ term.image_uri | image_style('brands') }}" >
            </a>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endif %}

