{% if terms is not null and terms is not empty %}
  <h3>{{ block_title }}</h3>
<div class="container ">
  {% for row in terms|batch(2, 'No item') %}
    <div class="row my-2">
      {% for term in row %}
        {% if term is not empty %}
          <div class="col-md-6">
            <div class="justify-content-center d-flex border border-1 h-100">
              <a  class="align-self-center" href="{{ term.path }}">
                <img class="img-fluid p-1" src="{{ term.image_uri | image_style('brands') }}" >
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
  <a href="{{ path('commerce_product_catalog.brands') }}">Показать все бренды</a>
</div>
{% endif %}

