{#  dump(products) }#}
{{ drupal_block('catalog_child_terms_block') }}
{% if products is not null and products is not empty %}
  <h2>{{ block_title }}</h2>
<div class="container catalog-items">
  {% for  row in products|batch(2, 'No item') %}
    <div class="row my-2">
      {% for product_card in row %}
        {{ product_card }}
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endif %}

