{# { dump(images) }#}
<div class="owl-carousel owl-theme owl-image-slider catalog-item-carousel">
  {% for image_url in images %}
    <div>
      <img src="{{ image_url | image_style('200x200') }}"  {{ attributes.setAttribute('loading', 'eager') }} class="mx-auto w-auto">
    </div>
  {% endfor %}
</div>
