  <div class="owl-carousel owl-theme owl-image-slider">
    {% for image_url in images %}
      <div>
        <img src="{{ image_url }}" class="mx-auto w-auto">
      </div>
    {% endfor %}
  </div>
