{# { dump(images) }#}
<div class="col-md-6">
  <div class="card pt-1">
    <div class="product-images">
      {{ images }}
    </div>
    <div class="card-body">
      <div class="product-rating">
        {{ product_rating }}
      </div>
      <h5 class="card-title text-center">{{ product_link }}</h5>
      <div>
        <div class="d-flex justify-content-center"> {{ product_price }}</div>
        <div class="d-flex justify-content-center">{{ cart_button }} </div>
      </div>
    </div>
  </div>
</div>
