{% if products is not null and products is not empty %}
<div class="related-cart-products-block">
<h2>Покупают вместе</h2>
<div class="table-responsive">
  <table class="table table-sm">
    {% for product in products %}
      {{ product }}
    {% endfor %}
  </table>
</div>
</div>
{% endif %}



