  <tr>
     <td>
        <img class="img-fluid" src="{{ images | image_style('thumbnail') }}">
     </td>
     <td>
        {{ product_link }}
     </td>
     <td>
        {{ product_price }}
     </td>
     <td>
        {{ cart_button }}
     </td>
  </tr>

